.head{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    margin: 10 px;
    justify-content: space-between;

}
.lista{
    background-color:rgb(96, 96, 111);
    width: 400px;
    margin-left: auto;
    margin-right:auto;
    border: 5px solid yellow;



    
}
th,td{
    background-color: antiquewhite;
    font-size:22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    

}
.tabell{
    background-color: red;
    width: 530px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: solid black 4px;
}
body{
    background-image:url(./winter-snow.jpg) ;
}